<p *ngIf="isLoading" class="loading text-center my-5">Loading content...</p>

<ng-container *ngIf="!isLoading">
  <div *ngIf="notFoundError || unexpectedError" class="alert alert-danger" role="alert">
    <h2 class="alert-heading">Error fetching content</h2>

    <ng-container *ngIf="notFoundError">
      <p>
        It wasn't possible to fetch any content for the given <em>API Key</em>
        and <em>Content ID</em>. Please double check the article params and try
        again.
      </p>

      <ul class="list-unstyled">
        <li>
          <strong>API Key:</strong> {{ params.contentHubId || '[none]' }}
        </li>
        <li>
          <strong>Content ID:</strong> {{ params.contentId || '[none]' }}
        </li>
      </ul>
    </ng-container>

    <ng-container *ngIf="unexpectedError">
      <p>
        An unexpected error has occured. Please double check the given
        <em>API Key</em> and try again.
      </p>

      <p>
        If the error persist, try again later or contact
        <a href="mail:lucas.pelos@gmail.com">lucas.pelos@gmail.com</a>.
      </p>

      <p>
        <strong>API Key:</strong> {{ params.contentHubId || '[none]' }}
      </p>
    </ng-container>
  </div>

  <article *ngIf="!!article">
    <header>
      <h1 [class.text-secondary]="!article.heading">
        {{ article.heading || '[No Heading]' }}
      </h1>

      <p *ngIf="!!article.author || !!article.date" class="metadata text-secondary">
        <span *ngIf="!!article.author">
          By <em class="author">{{ article.author }}</em>
        </span>

        <span *ngIf="!!article.date" class="date">{{ article.date | date:'medium' }}</span>
      </p>
    </header>

    <figure *ngIf="article.mainImage" class="figure">
      <img
        [alt]="article.mainImage.caption"
        class="figure-img img-fluid rounded"
        [src]="article.mainImage.url"
      />

      <figcaption *ngIf="!!article.mainImage.caption" class="figure-caption">
        {{ article.mainImage.caption }}
      </figcaption>

      <footer *ngIf="!!article.mainImage.credit">
        <small class="text-secondary">
          Credit: <em>{{ article.mainImage.credit }}</em>
        </small>
      </footer>
    </figure>

    <main *ngIf="!!article.body && article.body.length > 0">
      <section *ngFor="let item of article.body" [innerHTML]="item"></section>
    </main>

    <p *ngIf="!article.body || article.body.length === 0" class="text-secondary">[No content body]</p>
  </article>

  <button class="btn btn-link mb-4" type="button" (click)="onClose()">< Go back</button>
</ng-container>
