<form *ngIf="!!form" class="card mx-auto" [formGroup]="form" (ngSubmit)="onSubmit()">
  <header class="card-header">
    <h1 class="card-title">Acoustic Content Renderer</h1>
  </header>

  <main class="card-body">
    <p>Please provide the <em>Content Hub ID</em> and <em>Content ID</em> of the content you want to be rendered.</p>

    <small class="text-secondary">
      See
      <a href="https://developer.ibm.com/customer-engagement/tutorials/getting-started-api-javascript/" target="_blank">
        Docs
      </a>
      on how to get this information.
    </small>

    <div class="content-hub-id-group form-group mt-3">
      <label for="contentHubIdInput">Content Hub ID*</label>

      <input
        class="form-control"
        [class.is-invalid]="isInvalid('contentHubId')"
        [class.is-valid]="isValid('contentHubId')"
        formControlName="contentHubId"
        id="contentHubIdInput"
        placeholder="Ex: 779181bc-40f8-4e49-bc76-7f820485e3ac"
        type="text"
      />

      <div *ngIf="isInvalid('contentHubId')" class="invalid-feedback">
        {{ errorMessage('contentHubId') }}
      </div>
    </div>

    <div class="form-group" aria-describedby="" role="group">
      <label for="contentIdInput">Content ID*</label>

      <input
        class="content-id-group form-control"
        [class.is-invalid]="isInvalid('contentId')"
        [class.is-valid]="isValid('contentId')"
        formControlName="contentId"
        id="contentIdInput"
        placeholder="Ex: fa0e68fd-deb8-4539-806a-83c8b97e692a"
        type="text"
      />

      <div *ngIf="isInvalid('contentId')" class="invalid-feedback">
        {{ errorMessage('contentId') }}
      </div>
    </div>
  </main>

  <footer class="card-footer text-right">
    <button class="btn btn-primary" [disabled]="form.invalid" type="submit">Render Content</button>
  </footer>
</form>
